# Copyright 2023 Canonical Ltd.
# See LICENSE file for licensing details.
# Please update the requirements-unit.txt with:
# uv pip compile pyproject.toml requirements-unit.in -o requirements-unit.txt
coverage
lightkube
ops
pytest
pytest-mock
pytest-lazy-fixture
