# Copyright 2024 Canonical Ltd.
# See LICENSE file for licensing details.
ops
tenacity
# Commented because of https://github.com/canonical/charmcraft/issues/2259
# serialized-data-interface
# charmed-kubeflow-chisme
# lightkube
# from loki_k8s.v1.loki_push_api.py
# cosl
