# Copyright 2021 Canonical Ltd.
# See LICENSE file for licensing details.

black
# Pinned because `flake8-copyright==0.2.3` is incompatible with `flake8>=6`.  Can unpin this
# when https://github.com/savoirfairelinux/flake8-copyright/pull/20 or a similar fix is released
flake8<6
flake8-copyright<0.3
lightkube==0.11.0
pytest
pytest-mock
tenacity<8.1