name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    name: Lint Check
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: sudo apt-get install python3-pip tox

      - name: Lint code
        run: tox -e lint

  unit:
    name: Unit Test
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: sudo apt-get install python3-pip tox

      - name: Run unit tests
        run: tox -e unit

  deploy:
    name: Integration Test
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: microk8s
          channel: 1.22/stable
          charmcraft-channel: latest/candidate
      # TODO: Remove once the actions-operator does this automatically
      - name: Configure kubectl
        run: |
          sg microk8s -c "microk8s config > ~/.kube/config"

      - name: Run test
        run: |
          sg microk8s -c "tox -e integration -- --model testing"

      - name: Get all
        run: kubectl get all -A
        if: failure()

      - name: Get juju status
        run: juju status
        if: failure()

      - name: Get kubeflow-profiles workload logs
        run: kubectl logs --tail 100 -ntesting -ljuju-app=kubeflow-profiles -c kubeflow-profiles
        if: failure()

      - name: Get kubeflow-kfam workload logs
        run: kubectl logs --tail 100 -ntesting -ljuju-app=kubeflow-profiles -c kubeflow-kfam
        if: failure()

      - name: Get operator logs
        run: kubectl logs --tail 100 -ntesting -ljuju-operator
        if: failure()
