# reusable workflow triggered by other actions
name: CI

on:
  workflow_call:
    secrets:
      CHARMCRAFT_CREDENTIALS:
        required: true

jobs:
  lint:
    name: Lint Check
    runs-on: ubuntu-24.04

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: pipx install tox

      - name: Lint code
        run: tox -e lint

  unit:
    name: Unit Test
    runs-on: ubuntu-24.04

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: pipx install tox

      - name: Run unit tests
        run: tox -e unit
        
  terraform-checks:
    name: Terraform
    uses: canonical/charmed-kubeflow-workflows/.github/workflows/terraform-checks.yaml@main
    with:
      charm-path: .
        
  deploy:
    name: Integration Test
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        test-type: [integration, integration-ambient]
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: pipx install tox

      - name: Setup environment
        run: |
          sudo apt-get remove -y docker-ce docker-ce-cli containerd.io
          sudo rm -rf /run/containerd
          sudo snap install concierge --classic
          sudo concierge prepare --trace
      - name: Run test
        run: |
          tox -e ${{ matrix.test-type }} -- --model kubeflow
      
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: failure() || cancelled()

      - name: Get all
        run: kubectl get all -A
        if: failure()

      - name: Get juju status
        run: juju status
        if: failure()

      - name: Get kubeflow-profiles workload logs
        run: kubectl logs --tail 100 -nkubeflow -ljuju-app=kubeflow-profiles -c kubeflow-profiles
        if: failure()

      - name: Get kubeflow-kfam workload logs
        run: kubectl logs --tail 100 -nkubeflow -ljuju-app=kubeflow-profiles -c kubeflow-kfam
        if: failure()

      - name: Get operator logs
        run: kubectl logs --tail 100 -nkubeflow -ljuju-operator
        if: failure()

      - name: Save debug artifacts
        uses: canonical/kubeflow-ci/actions/dump-charm-debug-artifacts@main
        if: failure()
